<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %} &mdash; LPT Print Queue System</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Current Numbers</h1>
            </header>
            <section id="maincontent">
            </section>
        </div>
        {% block javascripts %}
            <script>
                $.getJSON( "/api/current", function( data ) {
                    $.each(data, function (key, value) {
                        html = '<div class="nmb"><h3>' + value.generatedNum + '</h3>'
                            + '<p>' + value.name + '</p></div>';
                        $( html ).appendTo("#maincontent");
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
