<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %} &mdash; LPT Print Queue System</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('jquery-1.12.4.min.js') }}"></script>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Current Numbers</h1>
            </header>
            <section id="maincontent">
                <p>Loading data from server...</p>
            </section>
        </div>
        {% block javascripts %}
            <script>
                function refreshNumbers() {
                    $.getJSON( "/api/current", function( data ) {
                        $("#maincontent").empty();
                        $.each(data, function (key, value) {
                            var html = '<div class="nmb"><h3>' + value.generatedNum + '</h3>'
                                + '<p>Position:' + value.name + '</p></div>';
                            $( html ).appendTo("#maincontent");
                        });
                    });
                    setTimeout(refreshNumbers, 5000);
                }

                $(document).ready(function() {
                    refreshNumbers();
                });
            </script>
        {% endblock %}
    </body>
</html>
