{% extends 'base.html.twig' %}

{% block body %}
    <h2>Admin Panel</h2>
    <ul>
        <li><a href="{{ path('app_admin_categories_show') }}">Categories</a></li>
        <li><a href="{{ path('app_admin_users_show') }}">User Management</a></li>
    </ul>
{% endblock %}
