{% extends 'base.html.twig' %}

{% block body %}
    <h2>New Position</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('app_admin_positions_show') }}">Back to categories list</a>
{% endblock %}