{% extends 'base.html.twig' %}

{% block body %}
    <h2>New user</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('app_admin_users_show') }}">Back to Users list</a>
{% endblock %}