{% extends 'base.html.twig' %}

{% block title %}Case categories list{% endblock %}

{% block body %}
<div id="wrapper">
    <h1>LPT Print Queue System &mdash; Case categories list</h1>
    <ul>
        {% for item in categories %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
