{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <h1>LPT Print Queue System &mdash; Welcome</h1>
    <p>To continue you must <a href="{{ path('fos_user_security_login') }}">log in</a>.</p>
</div>
{% endblock %}
