{% extends 'base.html.twig' %}

{% block body %}
    <p>Please select your position:</p>
    {% if positions %}
        <form method="POST" action="">
            <select name="position">
                {% for pos in positions %}
                    <option value="{{ pos.id }}">{{ pos.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </form>
    {% else %}
        <p>All positions are occupied. Please try again later.<br />
        <a href="{{ path('fos_user_security_logout') }}">Log out</a></p>
    {% endif %}
{% endblock %}
